/* App.js */

.app {
  text-align: center;
}

/* Tagline.js */

.app-tagline {
  background: lightskyblue;
  padding: 1em;
}

/* Alarm.js */

.alarm {
  padding-top: 2em;
}

.alarm-icon,
.alarm-icon__activated {
  max-height: 3em;
}

.alarm-icon {
  opacity: 0.4;
  filter: grayscale(100%);
}

.alarm-button__icon {
  height: 30px;
}

/* AlarmForm.js */

.alarm-form {
  background: lightgray;
  padding: 1em;
}

.alarm-form__header {
  text-decoration: underline;
  margin-top: 0;
}

.alarm-form__valid {
  border: 1px solid lawngreen;
}

.alarm-form__invalid {
  border: 1px solid red;
}

.alarm-form__error-message {
  color: red;
}

/* AlarmList.js */

.alarm-list {
  margin: 0 auto;
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: stretch;
  margin-bottom: 2em;
}

/* Media Queries */

@media (min-width: 900px) {
  .alarm-list {
    width: 70%;
  }
}
