.App {
  text-align: center;
}

ul {
  list-style: none;
}

/* Alarm.js */

.alarm {
  margin-top: 1em;
}

.alarm-icon {
  max-height: 3em;
}

/* AlarmForm.js */

.alarm-input__valid {
  border: 1px solid lawngreen;
}

.alarm-input__invalid {
  border: 1px solid red;
}

.alarm-input__error-message {
  color: red;
}
