/* App.js */

.app {
  text-align: center;
}

/* Alarm.js */

.alarm {
  padding-top: 2em;
}

.alarm-icon,
.alarm-icon__activated {
  max-height: 3em;
}

.alarm-icon {
  opacity: 0.5;
  filter: grayscale(100%);
}

.alarm-button__icon {
  height: 30px;
}

/* AlarmForm.js */

.alarm-form {
  background: rgba(65, 65, 65, 0.2);
  padding: 1em;
}

.alarm-form__title {
  text-decoration: underline;
  margin-top: 0;
  letter-spacing: 1px;
  font-weight: 300;
}

.alarm-form__valid {
  border: 1px solid black;
}

.alarm-form__invalid {
  border: 1px solid red;
}

.alarm-form__error-message {
  color: red;
  margin: 0;
  margin-top: 0.5em;
}

.alarm-form__radio-buttons {
  padding-top: 0.1em;
}

.alarm-form__radio-buttons > * {
  margin-left: 1em;
}

.alarm-form__radio-buttons__title {
  padding: 0;
}

/* AlarmList.js */

.alarm-list {
  margin: 0 auto;
  padding: 1.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: stretch;
  background: rgba(85, 107, 47, 0.3);
}

/* Media Queries */

@media (min-width: 900px) {
  .alarm-list {
    width: 80%;
  }
}
