.table {
  padding: 2em;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

.table-header__description,
.table-row__description {
  width: 30%;
}

.table-header__created-date,
.table-header__id,
.table-header__alert,
.table-row__created-date,
.table-row__id,
.table-row__alert {
  width: 20%;
}

.table-row {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  background: inherit;
  border: 1px solid darkgray;
}

.table-header__result-count {
  margin: 0;
  margin-bottom: 1em;
}
